
.invoCardAp{
    width: max-content;
    height: 100%;

    padding: 24px 0px;

}

.backgroundCard{
    background-color: var(--background-gray);

    padding: 24px 16px;
}

.backgroundCard h3{
    font-family: 'Manrope-Medium';
    font-weight: 600;
    font-size: 18px;

    color: var(--primary-black);

    margin-bottom: 16px;
}

.lineAp {
    align-items: center;
    
    margin-bottom: 16px;
}

.lineAp p {
    font-family: 'Manrope-Light';
    font-weight: 600;
    font-size: 16px;

    color: var(--primary-black);

}

.lineAp img{
    width: 48px;
    height: 48px;

    margin-right: 8px;
}

.centerlizer{
    justify-content: center;
}